#
# Copyright (C) 2018 PHYTEC America, LLC
#
# SPDX-License-Identifier:     GPL-2.0+
#

choice
	prompt "PHYTEC phyCORE-AM65x based boards"
	optional

config TARGET_AM65XX_PHYCORE_KIT_R5
	bool "PHYTEC phyCORE-AM65x Kit (R5 processor)"
	select CPU_V7R
	select SYS_THUMB_BUILD
	select SOC_K3_AM6
	select K3_LOAD_SYSFW
	select K3_AM654_DDRSS
	imply K3_SPL_ATF

config TARGET_AM65XX_PHYCORE_KIT_A53
	bool "PHYTEC phyCORE-AM65x Kit (A53 processor)"
	select ARM64
	select SOC_K3_AM6
	select BOARD_LATE_INIT

endchoice

if TARGET_AM65XX_PHYCORE_KIT_R5

config SYS_BOARD
	default "am65xx_phycore_kit"

config SYS_VENDOR
	default "phytec"

config SYS_CONFIG_NAME
	default "am65xx_phycore_kit"

config SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

source "board/ti/common/Kconfig"

endif

if TARGET_AM65XX_PHYCORE_KIT_A53

config SYS_BOARD
	default "am65xx_phycore_kit"

config SYS_VENDOR
	default "phytec"

config SYS_CONFIG_NAME
	default "am65xx_phycore_kit"

source "board/ti/common/Kconfig"

endif
