if TARGET_AM572X_PHYCORE_RDK

config SYS_BOARD
	default "am572x_phycore_rdk"

config SYS_VENDOR
	default "phytec"

config SYS_CONFIG_NAME
	default "am572x_phycore_rdk"

config CONS_INDEX
	int "UART used for console"
	range 1 6
	default 3
	help
	  The AM57x (and DRA7xx) SoC has a total of 6 UARTs available to it.
	  Depending on your specific board you may want something other than UART3
	  here.

choice
	prompt "Select DDR3L Total Memory Size"
	default PCM_057_256M16_x4_DDR
	help
	  The phyCORE-AM572x SOM (PCM-057) can be populated with different DDR3
	  chips resulting in various configurations and total available memory.

	config PCM_057_256M16_x4_DDR
		bool "2GiB (4x 256M16)"
	config PCM_057_512M16_x4_DDR
		bool "4GiB (4x 512M16)"
endchoice

source "board/phytec/common/Kconfig"

endif
